<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Mansi Gupta</title>
    <link rel="stylesheet" href="../public/css/homepage.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
</head>
<body>
    <section class="rcorners2 ">
        <!-- My Name Designation Some intro Points -->
        <section class="home" >
            <div class="max-width">            
                <div class="home-content">
                    <div class="column left">
                        <img src = "../public/img/img.png" alt=""/>
                    </div>
                    <div class="column right">
                        <div class="text-1">Some Name</div>
                        <div class="text-2">Web Developer</div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo repellat eveniet sapiente ipsa amet, iure consectetur deleniti itaque natus blanditiis magni recusandae possimus eum vero sit sunt aliquam veritatis ab.</p>
                        <a href="../views/contactMe.html" target="_blank">CONTACT ME</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- My skills and my info -->
        <section class="skills" id="skills">
            <div class="max-width">           
                <div class="skills-content">
                    <div class="column left">                   
                          <table class = "biodata">
                                <tr>
                                    <th>JobRole</th>
                                    <td> Web Developer </td>
                                </tr>
                                <tr>
                                    <th>D.O.B</th>
                                    <td>20 June 1999</td>
                                </tr>
                                <tr>
                                    <th>Mob</th>
                                    <td>+91 9852147963 </td>
                                </tr>
                                <tr>
                                    <th>E-mail</th>
                                    <td>xyz@gmail.com </td>
                                </tr>
                                <tr>
                                    <th>Nationality</th>
                                    <td>Indian</td>
                                </tr>
                            </table>
                    </div>

                    <div class="column right">
                            <div class="bars">
                                <div class="info">
                                    <span>PHP</span>
                                    <span>90%</span>
                                </div>
                            </div>                
                            <div class="line php"></div>
                            <div class="bars">
                                <div class="info">
                                    <span>Javascript</span>
                                    <span>80%</span>
                                </div>
                            </div>               
                            <div class="line js"></div>
                            <div class="bars">
                                <div class="info">
                                    <span>Angular JS</span>
                                    <span>70%</span>
                                </div>
                            </div>
                            <div class="line Ajs"></div>                        
                            <div class="bars">
                                <div class="info">
                                    <span>My SQL</span>
                                    <span>95%</span>
                                </div>
                            </div>
                            <div class="line mysql"></div>
                    </div>
                </div>
            </div>
        </div>
        </section>
</section>     

    <section class="ExperienceEducation" >
        <div class="flex-container">
            <div class="flex-child column left">
                <h2 class="title">WORK EXPERIENCE</h2> 
                <div class="exp1">
                    <p class="teamLeader">2017-2020&nbsp;&nbsp;Team Leader</p>
                    <p class = "tlsubHeading">Astech Solutions</p>
                    <p class = "tlpara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, iusto, corporis assumenda, quasi ullam dolores voluptate consectetur ex eligendi accusantium animi perferendis sequi quod quae et iste itaque. Architecto.</p>
                </div>
                <div class="exp2">
                    <p class="WebDevelop">2017-2020&nbsp;&nbsp;Web Developer</p>
                    <p class = "WdsubHeading">Infocom Systems</p>
                    <p class = "Wdpara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, iusto, corporis assumenda, quasi ullam dolores voluptate consectetur ex eligendi accusantium animi perferendis sequi quod quae et iste itaque. Architecto.</p>
                 </div>
                 <div class="exp3">
                    <p class="WebDevelop">2017-2020&nbsp;&nbsp;Web Developer</p>
                    <p class = "WdsubHeading">Infocom Systems</p>
                    <p class = "Wdpara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ratione, iusto, corporis assumenda, quasi ullam dolores voluptate consectetur ex eligendi accusantium animi perferendis sequi quod quae et iste itaque. Architecto.</p>
                 </div>
            </div>
            
            <div class="flex-child column right">
                <h2 class="title">My Education</h2> 
                <div class="exp1">
                    <p class="teamLeader">2007-2010&nbsp;&nbsp;Certified JAVA Developer</p>
                    <p class = "tlsubHeading">ABCD Institute of Programmming</p>                    
                </div>
                <div class="exp2">
                    <p class="WebDevelop">2007-2010&nbsp;&nbsp;B.E. Computers</p>
                    <p class = "WdsubHeading">ABCD College of Engineering</p>                    
                 </div>
                 <div class="exp3">
                    <p class="WebDevelop">2012-2017&nbsp;&nbsp;Diploma in Computer Application</p>
                    <p class = "WdsubHeading">ABCD College of Engineering</p>                   
                 </div>
            </div>
    </section>

    <!-- Languages and my Interests -->
  
        <section class = "Languages">       
                <div class="max-width">   
                    <div class="flex-container">                              
                        <div class="li-content">                                       
                            
                                <div class="column left" >
                                    <h2 class="title">LANGUAGES</h2>                                                                            
                                        <div class="icons">                                            
                                            <table class = "myLanguage">                                                
                                                <tr>
                                                    <th>English</th>
                                                        <td><span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                            <span class="dot1"></span>
                                                         </td>                                                    
                                                </tr>
                                                <tr>
                                                    <th>Hindi</th>
                                                    <td><span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                        <span class="dot1"></span>
                                                     </td>                                                  
                                                </tr>
                                                <tr>
                                                    <th>Marathi</th>
                                                    <td><span class="dot1"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                        <span class="dot"></span>
                                                     </td>
                                                </tr>
                                            </table>                                         
                                        </div>                             
                                </div>


                                <div class="column right" >
                                    <h2 class="title">MY INTERESTS</h2>                                                                            
                                        <div class="icons">                                            
                                            <table class = "myInterest">
                                                
                                                <tr>
                                                    <th><i class="fas fa-shopping-bag"></i></th>
                                                        <td> Shopping</td>
                                                    <th><i class="fa fa-book"></i></th>
                                                        <td> Reading</td>
                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-plane fa-rotate-270"></i></th>
                                                        <td> Travel</td>
                                                    <th><i class="fa fa-camera"></i></th>
                                                        <td> Photography</td>
                                                </tr>
                                                <tr>
                                                    <th><i class="fas fa-gamepad"></i></th>
                                                        <td> Vedio Games</td> 
                                                </tr>
                                            </table>                                         
                                        </div>                             
                                </div>
                        </div>
                    </div>
                </div>
        </section>        

    </body>
</html>